
/* Primary Colors */
$white: rgba(255,255,255,1.0);
/* Shades of black */
$black: rgba(0,0,0,1.0);
$black_90: rgba(0,0,0,0.9);
$black_75: rgba(0,0,0,0.75);
$black_50: rgba(0,0,0,0.5);
$black_25: rgba(0,0,0,0.25);
$black_10: rgba(0,0,0,0.1);

/* Shades of blue #0073aa */
$blue: rgba(0,115,170,1.0);
$blue_90: rgba(0,115,170,0.9);
$blue_75: rgba(0,115,170,0.75);
$blue_50: rgba(0,115,170,0.5);
$blue_25: rgba(0,115,170,0.25);
$blue_10: rgba(0,115,170,0.1);
/* Hilight and shadow of blue */
$blue_hi: rgba(0,166,246,1.0); // Hilight, #00A6F6
$blue_xhi: rgba(68,194,254,1.0); // Hilight, #44C2FE
$blue_low: rgba(0,63,93,1.0); // Shadow, #003F5D
